body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #374954;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

input {
  background-color: #4F6877;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  margin-top: 10px;
  overflow: hidden;
  border: 0;
  width: 272px;
  color: #fff;
}

input:active, input:focus {
  outline: none;
}

button {
  background-color: #6BBE92;
  width: 302px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

button:disabled {
  background-color: #34444e;
  color: rgb(168, 168, 168);
}

.box {
  width: 100%;

}

.title, .subtitle {
  text-align: left;
}

h1 {
  margin-bottom: 90px;
}

h2 {
  margin-bottom: 30px;
}

form {
  border: 1px solid #6BBE92;
  width: 600px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}